[Unit]
Description=Envoy
Wants=network-online.target
After=network-online.target

[Service]
User=root
Restart=on-failure
TimeoutStartSec=40
ExecStart=/bin/envoy \
  --config-path /vagrant/provisioning/monitoring/envoy-files/envoy-me.yaml

[Install]
WantedBy=default.target
